doctype html
html(lang='en')
	head(id="header-title")
		title Hadithi - App
		// Site Necessities
		meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes')
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=Edge')
		meta(name='description', content='')
		meta(name='keywords', content='')
		meta(http-equiv='cleartype', content='on')
		// Favicons
		link(rel='shortcut icon', type='image/png', href='')
		link(rel='shortcut icon', type='image/x-icon', href='')
		//Minified Dist
		link(rel='stylesheet', href='../dist/concatenated.min.css')
		script(type="text/javascript", src="../dist/concatenated.min.js")

	body.skin-2
		// The HEADER BAR
		nav.navbar.navbar-default.navbar-container(role='navigation')
			.navbar-header
				//- button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-4')
				//- 	span.sr-only Toggle navigation
				//- 	span.icon-bar
				//- 	span.icon-bar
				//- 	span.icon-bar
				a.navbar-brand(href='#')
					img.img.img-responsive.pull(src="../assets/images/gg_horizontal_color.png", style="max-height: 32px", width="100px")
					//- i.icon.icon-play-circle
					|  Hadithi

			//- div#bs-example-navbar-collapse-4.navbar-collapse.collapse(style='height: 1px;')
			.navbar-header.pull-right
				ul.nav.ace-nav
					li.red.dark-opaque
						a(href="#", data-toggle="dropdown").dropdown-toggle
							img.nav-user-photo#fbpicture(src="../assets/10.jpg", style="max-height: 32px")
							span.user-info
								small Hello, 
								span#fbusername Storyteller
							i.icon-caret-down.bigger-72

						ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
							li: a#applogout(href="#"): i.icon-off
								|  Log Out

		// The body
		div.main-container#main-container
			div.main-container-inner#main-container-inner
				div.main-container.well-bg
					div.page-content
						div.row
							div.hr10.hidden-lg
							div.hr30.hidden-sm.hidden-xs

							//- The spacer for the content
							div.col-sm-8.col-sm-offset-2
								div.alert.alert-info.alert-dismissable#allow-mic
									//- button.close(type="button", data-dismiss="alert", aria-hidden="true") &times;
									//- button.btn.btn-xs.btn-primary.pull-right(data-toggle="modal", data-target="#questionaire") Modal
									strong Heads Up! 
									| Please allow 
									strong "Hadithi" 
									| application to use your microphone
									
								div.hr10
								div.jumbotron
									h3 Please use the microphone on your phone, tablet, or computer to tell a story about a time when a person or an organization tried to change something in your community in the last six months.
									p What happened? How were you affected or involved?
									p
										button.btn.btn-danger.btn-md(id="record-story", type="button", data-loading-text="Recording...")
											i.icon-circle
											|  Start Recording
										button.btn.btn-danger.btn-md(type="button", id="end-session")
											i.icon-stop
											|  End
										button.btn.btn-info.btn-md(type="button", id="upload-story")
											i.icon-cloud-upload
											|  Upload Your Story
									h3: small 
										| <strong>NOTE:</strong> Maximum length is 3 minutes.
										| Afterwards, we will fetch your age, sex, and location directly from Facebook if you give us permission. (Or you can enter it yourself, if you like.)

							//Audio handler hidden below
							div.col-sm-8.col-sm-offset-2.padding-10
								//- Mobile friendly alternative way to record audio
								div.sr-only(role="role back in  mobile platforms that do not support STREAM API")
									form.form-horizontal.submit-story(name="recorded-file", encrypte="multipart/form-data", method="post", action="server.cgi", role="form")
										.form-group
											//- .col-sm-offset-2.col-sm-10
											.ace-file-input
												//- The old media capture api, new one -- should not define "microphone", just empty
												input#media-capture-api(type="file", name="recording", accept="audio/*" capture="microphone")
												label.file-label(data-title="choose")
													span.file-name(data-title="recording")
														i.icon-play

											//- .col-sm-offset-2.col-sm-10
											button.btn.btn-sm.btn-info(id="submit-rec-mobile", type="submit", role="button") Upload

								//- The audio-player plugin
								div.hidden.audio-js-box.tube-css#audio-player
									audio#recorded-audio(src, controls, preload="none", type="audio/wav")


		//Facebook auth or sign up model
		//- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
		div.modal.fade#questionaire(tabindex="-1", data-backdrop="static", data-keyboard="false", aria-hidden="true", role="dialog")
			.modal-dialog
				//- (style="background: white")
				.modal-content
					.modal-header
						div.alert.alert-info
							h5: strong.bigger We need a little info about you before recording your awesome story.
							small Thank you for your time. - Marc Maxson.

					.model-body
						//- The form will go in here
						div.row
							div.col-xs-12
								.container
									.well.well-sm.center
										a.btn.btn-primary.btn-md.btn-block#facebookInit(href="#")
											i.icon-facebook.bigger-130.pull-left(style="padding-left: 1em")
											| Connect with Facebook 
									
									h4.grey.center.bigger or fill in the form below:

									//The form
									form#questionaire-form(role="form", style="padding: 5% 0").form-horizontal
										.form-group
											label.control-label.col-xs-12.col-sm-3.no-padding-right(for="email") 
												| Email Addr.:
											div.col-xs-12.col-sm-7
												input#email.form-control(type="email", name="email", placeholder="Your email address...", required)
												input#hidden(type="hidden", name="isFacebook", value="false")

										.form-group
											label.control-label.col-xs-12.col-sm-3.no-padding-right(for="the-story") 
												| Where did this story take place?
											div.col-xs-12.col-sm-7
												input#the-story-signup.form-control(type="text", name="location", placeholder="the location...", required)

										.form-group
											label.control-label.col-xs-12.col-sm-3.no-padding-right(for="age_range") 
												| Age Range:
											div.col-xs-12.col-sm-7
												select(name="age_range")
													- var agerange = ['17-21', '22-30', '31-45', '46-60', 'Over 60'];
													- for(x=0; x<agerange.length;x++) {
													option #{agerange[x]}
													- }

										.form-group
											label.control-label.col-xs-12.col-sm-3.no-padding-right(for="age_range") 
												| Gender: 
											div.col-xs-12.col-sm-7
												label
													input#user-sex(type="checkbox", name="sex", required).ace.ace-switch.ace-switch-7
													span.lbl
												span.help-line: span.middle.grey.smaller Tap to select gender.

										.form-group
											div.col-sm-offset-3.col-sm-9
												div.btn-group
													button(type="button")#qtnr-submit.btn.btn-primary.btn-md
														i.icon-ok.bigger-110
														|  Submit
												div.btn-group
													button(type="button", data-dismiss="modal")#record-first.btn.btn-default.btn-md
														| Record first?!
														i.icon-arrow-right.icon-on-right.bigger-110

